<!DOCTYPE html>
<html>
	<head>
		<title>Bootstrap 模板</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 百度地图 移动平台响应 -->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<!-- 引入 Bootstrap -->
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/select2.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-tagsinput.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/star-rating.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/map/map.css">
		<!-- bootstrap-select2 -->
		<!-- <link rel="stylesheet" type="text/css" href="plugins/select2/dist/css/select2.min.css"> -->

		<!-- slf -->
		<!-- lineup 相关css -->
        <script src="/libs/FileSaver.js"></script>
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type='text/css'>
        <link href="/stylesheets/lineup/style.css" rel="stylesheet">
        <link href="/stylesheets/lineup/style-demo.css" rel="stylesheet">
		<!-- slf end -->
		<!-- xzr -->
		<!-- list 相关css -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/select.css">
		<!-- xzr end -->
	</head>
	<body>
		<div class="container" style="width: 100%">
			<div class="row clearfix">
				<div class="col-md-2 column" id="left-sidebar" style="padding: 0;">
					<div class="panel panel-default" style="margin: 0;">
						<div class="panel-heading">
							<h2 class="panel-title">
								<div align="center">
									<b>筛选条件</b>
								</div>
							</h2>
						</div>
						<div class="panel-body" style="overflow: auto; height: inherit;">
							<form class="form-horizontal" role="form" id="filter">
								<div id="filter-state">
									<div class="form-group">
										<label class="col-md-3 control-label">state</label>
										<div class="col-md-9">
											<select class="form-control select">
												<option></option>
												<optgroup label="&nbsp;US">
											    	<option value="AK">Alaska</option>
												    <option value="AZ">Arizona</option>
												    <option value="FL">Florida</option>
												    <option value="IL">Illinois</option>
												    <option value="NC">North Carolina</option>
												    <option value="NM">New Mexico</option>
												    <option value="NV">Nevada</option>
												    <option value="PA">Pennsylvania</option>
												    <option value="SC">South Carolina</option>
												    <option value="TX">Texas</option>
											  		<option value="WI">Wisconsin</option>
												</optgroup>
											  	<optgroup label="&nbsp;CA">
											  		<option value="ON">Ottawa</option>
											  		<option value="QC">Quebec</option>
											  	</optgroup>
											  	<optgroup label="&nbsp;UK">
											  		<option value="EDH">Edinburgh</option>
											  		<option value="ELN">East Lothian</option>
											  		<option value="FIF">Fife</option>
											  		<option value="KHL">Kingston upon Hull</option>
											  		<option value="MLN">Midlothian</option>
											  	</optgroup>
											  	<optgroup label="&nbsp;DE">
											  		<option value="BW">Baden-Würtemberg</option>
											  		<option value="NW">Nordrhein-Westfalen</option>
											  		<option value="RP">Rheinland-Pfalz</option>
											  	</optgroup>
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-city">
									<div class="form-group">
										<label class="col-md-3 control-label">city</label>
										<div class="col-md-9">
											<select class="form-control select">
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-time">
									<div class="form-group">
										<label class="col-md-3 control-label">time</label>
										<div class="col-md-9">
											<select class="form-control select" multiple="multiple">
												<option>Monday</option>
												<option>Tuesday</option>
												<option>Wednesday</option>
												<option>Thursday</option>
												<option>Friday</option>
												<option>Saturday</option>
												<option>Sunday</option>
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-type">
									<div class="form-group">
										<label class="col-md-3 control-label">type</label>
										<div class="col-md-9">
											<select class="form-control select" multiple="multiple">
												<option>Brunch</option>
												<option>Breakfast</option>
												<option>Dinner</option>
												<option>Lunch</option>
												<option>Latenight</option>
												<option>Dessert</option>
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-parking" >
									<div class="form-group">
										<label class="col-md-3 control-label">parking</label>
										<div class="col-md-9">
											<select class="form-control select" multiple="multiple">
												<option>valet</option>
												<option>lot</option>
												<option>validated</option>
												<option>street</option>
												<option>garage</option>
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-wifi" >
									<div class="form-group">
										<label class="col-md-3 control-label">wifi</label>
										<div class="col-md-9">
											<select class="form-control select"  multiple="multiple">
												<option>free</option>
												<option>paid</option>
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-noiselevel">
									<div class="form-group">
										<label class="col-md-3 control-label">noise</label>
										<div class="col-md-9">
											<select class="form-control select" multiple="multiple">
											 	<option>average</option>
											 	<option>loud</option>
											 	<option>very_loud</option>
											 	<option>quiet</option>
											</select>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-star">
									<div class="form-group">
										<label for="input-xs" class="col-md-3 control-label">star</label>
										<div class="col-md-9">
											<input id="input-star" class="rating rating-loading" data-show-clear="false" data-show-caption="true" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs">
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-review-service">
									<div class="form-group">
										<label for="input-xs" class="col-md-3 control-label">service</label>
										<div class="col-md-9">
											<input id="input-xs" class="rating rating-loading" data-show-clear="false" data-show-caption="true" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs">
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-review-environment">
									<div class="form-group">
										<label for="input-xs" class="col-md-3 control-label">environ-<br>ment</label>
										<div class="col-md-9">
											<input id="input-xs" class="rating rating-loading" data-show-clear="false" data-show-caption="true" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs">
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-review-food">
									<div class="form-group">
										<label for="input-xs" class="col-md-3 control-label">food</label>
										<div class="col-md-9">
											<input id="input-xs" class="rating rating-loading" data-show-clear="false" data-show-caption="true" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs">
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-review-price">
									<div class="form-group">
										<label for="input-xs" class="col-md-3 control-label">price</label>
										<div class="col-md-9">
											<input id="input-xs" class="rating rating-loading" data-show-clear="false" data-show-caption="true" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs">
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-AcceptsCreditCards" >
									<div class="form-group">
										<div class="col-md-2">
										</div>
										<div class="checkbox col-md-10">
										    <label>
										    	<input type="checkbox"><b>Accepts Credit Cards</b>
										    </label>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-TakeReservations" >
									<div class="form-group">
										<div class="col-md-2">
										</div>
										<div class="checkbox col-md-10">
										    <label>
										    	<input type="checkbox"><b>Take Reservations</b>
										    </label>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-Open24Hours" >
									<div class="form-group">
										<div class="col-md-2">
										</div>
										<div class="checkbox col-md-10">
										    <label>
										    	<input type="checkbox"><b>Open 24 Hours</b>
										    </label>
										</div>
									</div>
									<hr>
								</div>
								<div id="filter-attr-HappyHour" >
									<div class="form-group">
										<div class="col-md-2">
										</div>
										<div class="checkbox col-md-10">
										    <label>
										    	<input type="checkbox"><b>Happy Hour</b>
										    </label>
										</div>
									</div>
								</div>
								</form>
								</form>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-10 column">
					<div class="row clearfix">
						<div class="col-md-12 column" id="tags" style="margin-top: 10px;margin-bottom: 10px">
							<input data-role="tagsinput" style="width: 100%"></input>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-8 column" style="margin-top: 10px; margin-bottom: 0px">
							<div id="select_results" class="row" style="margin-bottom: 1em; padding-left: 15px; padding-right: 15px;">

							</div>
							<div class="tabbable" id="tabs-1">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#panel-map" data-toggle="tab">Map</a>
									</li>
									<li>
										 <a href="#panel-summarize" data-toggle="tab">Summarize</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="panel-map">
										<div id="map"  style="width: 100%; height: 600px; margin-top: 20px">
										</div>
									</div>
									<div class="tab-pane" id="panel-summarize" style="overflow: auto;">
										<div id="lugui-wrapper" style="margin-top: 20px; width: 100%; height: 800px;"></div>
										<div id="pool">
										  <div style="text-align: right">New Column <i class="fa fa-close"></i></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 column" style="margin-top: 10px">
							<div id="reslist" class="list-group">
								<div style="margin: 0 0.2em; margin-bottom: -0.5em;">
									<input class="search" placeholder="Search" />
									<button class="sort" data-sort="name">name</button>
									<button class="sort" data-sort="count">reviews</button>
									<button class="sort" data-sort="stars">star</button>
									<button class="sort" data-sort="service">service</button>
									<button class="sort" data-sort="environment">environment</button>
									<button class="sort" data-sort="food">food</button>
									<button class="sort" data-sort="price">price</button>
								</div>
								<ul class="list" style="overflow: auto;">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script type="text/javascript" src="javascripts/others/jquery.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script type="text/javascript" src="javascripts/others/bootstrap.min.js"></script>
		<!-- 谷歌地图插件 -->
 		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsK_qqRT_R_M1NpFy1NWAfvTffiY1-ER8&sensor=false&libraries=drawing"></script>
		<!-- 标签、筛选框、星星等其他插件 -->
		<script type="text/javascript" src="javascripts/others/bootstrap-tagsinput.min.js"></script>
		<script type="text/javascript" src="javascripts/others/select2.full.min.js"></script>
		<script type="text/javascript" src="javascripts/others/star-rating.min.js"></script>		
		<script type="text/javascript" src="javascripts/others/list.min.js"></script>
		<!-- lineup 相关js -->
        <script src="/javascripts/others/lineup/d3.js"></script>
        <script src="/javascripts/others/lineup/es6-promise.js"></script>
        <script src="/javascripts/others/lineup/LineUpJS.js"></script>

		<!-- 本地js -->
		<script type="text/javascript" src="javascripts/filter.js"></script>
		<script type="text/javascript" src="javascripts/map.js"></script>
		<script type="text/javascript" src="javascripts/summarize.js"></script>
		<script type="text/javascript" src="javascripts/listshow.js"></script>
		<script type="text/javascript" src="/javascripts/selectshow.js"></script>
		<script type="text/javascript" src="javascripts/index.js"></script>
	</body>
</html>